haphead
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  link(type="text/css" rel="stylesheet" href="/public/css/materialize.min.css")
  if !mobile
    //- link(type='text/css' rel='stylesheet' href='/public/css/index-desktop.css')
    link(type='text/css' rel='stylesheet' href='/public/css/dashboard-desktop-new.css')
  else
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    link(type='text/css' rel='stylesheet' href='/public/css/index-mobile.css')
  script(src='/public/scripts/materialize.min.js')
  script(src='/public/scripts/jquery-3.3.1.min.js')
  script(src='/public/scripts/socket.io.slim.js')
  if user
    script.
      let curUser = !{JSON.stringify(user)};
  else
    script.
      let curUser = false;
  script.
    let hap = !{JSON.stringify(hap)};
  script(src="/public/scripts/dashboard.js")
  script(src="/public/scripts/map.js")
  script(async defer src='https://maps.googleapis.com/maps/api/js?key=' + mapApiKey + '&libraries=places&callback=initMap&callback=initAutoComplete')
    
.info
  nav
    .nav-wrapper.primary
      .brand-logo
        .brand-text Happin
        img.lightning(src='/public/assets/icons/light.svg')
      ul.right.hide-on-med-and-down.nav-right
        if user
          li.hapMapBtn.navBtn Hap Map
          li.hapDetailsBtn.navBtn Hap Details
          li.profileBtn.navBtn=user.username
        else
          li.signupBtn.navBtn Sign Up / Log in
          
  .mapAndHaps
    .row
      //- Map
      .mapContainer.col.s9
        img#mapLoading(src="/public/assets/Procfile.svg")
        #map
      //- Hap Info Screen
      .hapScreenContainer.col.s9.z-depth-2
        .hapScreenNav 
          h3.mainHapTitle=hap.name
        .mainHapAttendeeContainer
          i.material-icons#attendeeCountIcon person
          .mainHapAttendeeCount=hap.attendeeCount 
        .mainHapInfo.card
          .mainHapOrganizer.primary-text-dark=hap.organizer + ": "
          .mainHapDescription.center-align=hap.description
        .mainHapSettingContainer
          .whenSettingDivide.settingDivide.card
            .mainHapSettingLabel WHEN
            .mainHapDate=hap.dateFormatted
          .whereSettingDivide.settingDivide.card
            .mainHapSettingLabel WHERE
            .mainHapAddress=hap.address
        #mainHapJoinBtn.btn-large.primary-btn Join Hap
        #mainHapLeaveBtn.btn-large.primary-btn Leave Hap
        #mainHapSettingsBtn.btn-large.primary-btn Settings
        #mainHapId(hidden)=hap._id
        
      .content.col.s3
        h3.center-align People
        .peopleContainer
          for person in people
            h4=person.username
          
